
.accordionHeader {
  	background-color: #eee;
  	color: #444;
  	cursor: pointer;
 	padding: 5px 5px 5px 15px;
  	width: 100%;
 	text-align: left;
 	border: none;
  	outline: none;
  	font-size: 16px;
  	font-weight: bold;
  	transition: 0.4s;
}

.accordionHeader.active, .accordionHeader:hover {
  	background-color: #ccc;
}

.accordionHeader:after {
  	content: '\2212'; 
  	color: #777;
  	float: right;
  	margin-left: 5px;
}

.active.accordionHeader:after {
  	content: "\002B";
}

.accordionPanel {
  	padding: 0 18px;
  	background-color: white;
  	display: flex;
  	flex-wrap: wrap;
  	box-shadow: inset 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordionIcon {
  width: 100px;
  height: 120px;
  padding: 15px;
  margin: 10px;
  position: relative;
  border-radius: 10px;
  border: 2px solid white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.delete {
  	color: red;
  	border: none;
  	font-size: 14px;
  	font-weight: bold; 
  	position: absolute;
  	background-color: Transparent;
  	top: 0;
  	right: 0;
}


.accordionIcon > p {
  	margin: 0;
  	overflow: hidden;
  	max-width: 75ch;
}

.accordionIcon > img {
	width: 70px;
	height: 70px;
}

.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}

